.contato{
    background-color: var(--cor-de-fundo-secundario);
    color: var(--cor-azul);
    padding: 1.5em 1.5em;
}

.contatoTitulo{
    font-size: 18px;
    font-weight: 500;
}

.contatoDescricao{
    font-weight: 300;
    margin: 0.8em 0 1.5em 0;
}

.contatoEmail{
    padding: 0.5em 0 0.5em 1.5em;
    width: 92%;
    border: 1px solid var(--cor-azul);
    border-radius: 24px;
}

.contatoEmail::placeholder{
    color: var(--cor-azul);
    background-image: url(/Assets/Img/Email.svg);
    background-repeat: no-repeat;
    padding-left: 1.8em;
}

hr{
    margin: 0;
    border: 1px solid var(--cor-cinza-escuro);
}

@media screen and (min-width: 1024px) {
    .containerContato{
        margin-right: 1.3em;
        width: 30%;
    }

    .contato{
        display: flex;
        justify-content: center;
       align-items: center;
    }

    .contatoTitulo{
        font-size: 24px;
    }

    .contatoEmail{
        width: 30%;
    }
}

@media screen and (min-width: 1728px) {
    .contato{
        padding: 4em 20vw;
        gap: 1.5em;
    }

    .containerContato{
        margin: 0;
    }
    
    .contatoEmail{
        width: 30%;
    }
}